.nav-drawer {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  background-color: $blue;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 460px;
  padding: 18px 12px;
  box-shadow: 3px 5px 10px #00000038;

  .close {
    align-self: flex-end;
    cursor: pointer;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;

    svg {
      fill: #616475;
    }

    .input-group {
      display: flex;
      align-items: center;
      height: 100%;
      border: 1px solid #e7e7eb;
      margin-right: 12px;
      padding-left: 15px;
    }

    input {
      font-family: "Raleway", sans-serif;
      background: transparent;
      border: none;
      padding: 4px;
      flex: 2;
      margin: 0 12px;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      /* identical to box height */

      color: #616475;

      &:focus {
        outline: none;
      }
    }
  }

  ul {
    list-style: none;
    overflow-y: auto;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      transition: border 0.2s;
      margin-top: 12px;
      padding: 8px;
      cursor: pointer;
      border: 1px solid transparent;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #e7e7eb;

      &:hover {
        border: 1px solid white;
      }
    }
  }
}
