.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #1e213a;
  padding: 18px 22px;
  max-height: 180px;
  max-width: 120px;

  &__day,
  &__temp {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $grey1;
  }

  &__temp {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    .max {
      color: white;
      margin-right: 16px;
    }
    .min {
      color: $grey2;
    }
  }

  img {
    margin-top: 10px;
    width: 50px;
  }

  @media screen and(min-width: 600px) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
}
